<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!-- <preference for="Magento\SalesRule\Model\Utility" type="Ambab\CustomCouponMsg\Model\Utility" />-->
<preference for="Magento\Checkout\Controller\Cart\CouponPost" type="Ambab\CustomCouponMsg\Controller\Cart\CouponPost" />
<!-- <type name="Magento\Quote\Model\CouponManagement">
    <plugin name="checkout_coupon_apply" type="Ambab\CustomCouponMsg\Plugin\CheckoutCouponApply"/> 
</type>-->
</config>