<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ambab" translate="label" sortOrder="500">
            <label>Ambab</label>
        </tab>
        <section id="couponerrormessage" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Custom Coupon Error Message</label>
            <tab>ambab</tab>
            <resource>Ambab_CouponErrorMessage::couponerrormessage_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="coupon_exist" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message when Coupon does not exist</label>
                    <depends> <field id="enable">1</field> </depends>
                    <comment>use shortcode %s to display the coupon code used by the customer</comment>
                </field>
                   <field id="coupon_expired" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message when Coupon exist but is expired</label>
                    <depends> <field id="enable">1</field> </depends>
                    <comment>use shortcode %s to display the coupon code used by the customer</comment>
                </field>
                <field id="coupon_customer_group" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer doesn't belong to assigned customer group </label>
                    <depends> <field id="enable">1</field> </depends>
                    <comment>use shortcode %s to display the coupon code used by the customer</comment>
                </field>
                <field id="coupon_website_id" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message when coupon is not applicable on website</label>
                    <depends> <field id="enable">1</field> </depends>
                    <comment>use shortcode %s to display the coupon code used by the customer</comment>
                </field>
                <field id="coupon_usages" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message when coupon was used more than it can be used</label>
                    <depends> <field id="enable">1</field> </depends>
                    <comment>use shortcode %s to display the coupon code used by the customer</comment>
                </field>
                <field id="condition_fail" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message when Coupon exist but do not apply to the rule conditions</label>
                    <depends> <field id="enable">1</field> </depends>
                    <comment>use shortcode %s to display the coupon code used by the customer</comment>
                </field>
            </group>
        </section>
    </system>
</config>